@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Sedgwick+Ave+Display&display=swap');
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Rubik", sans-serif;
    background: #e3dede;
    background: linear-gradient(140deg,rgba(227, 222, 222, 1) 0%, rgba(125, 125, 125, 1) 100%);
}

.navbar{
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    background: #adaaaa;
}

.logo{
    flex: 20%;
    text-align: left;
    margin-left: 10%;
}

.logo h1{
    font-family: "Sedgwick Ave Display", cursive;
    color: rgb(4, 18, 95);
    font-size: 35px;
}

.menu{
    flex: 70%;
    text-align: right;
    padding: 20px;
}

.menu a{
    color: rgb(4, 18, 95);
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
}

.menu a:hover{
    color: white;
    border-bottom: 3px solid rgb(4, 18, 95);
}

#botao{
    background: rgb(4, 18, 95);
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
}

#botao:hover{
    border: none;
    background: white;
    color: rgb(4, 18, 95);
}

.header{
    display: flex;
    flex-flow: row wrap;
    height: 600px;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.headline{
    flex: 40%;
    margin-left: 10%;
}

.headline h2{
    font-weight: 900;
    font-size: 20px;
    color: rgb(4, 18, 95);
    padding: 0;
    margin: 0;
}

.contact-btn{
    background: rgb(4, 18, 95);
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 20px;
    display: inline-block;
}

.contact-btn:hover{
    background: white;
    color: rgb(4, 18, 95);
    border: solid 2px rgb(4, 18, 95);
}

.headline p{
    color: white;
    text-align: left;
}


.img-headline{
    margin-right: 10%;
    flex: 40%;
    text-align: center;
}

section{
    display: inline-block;
    margin-top: 80px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    padding: 5%;
}

section h2{
    width: 100%;
    font-size: 50px;
    margin: 0;
    font-family: "Sedgwick Ave Display", cursive;
}

.servicos{
    display: inline-block;
    margin-top: 5%;
}

.card{
    display: inline-block;
    width: 30%;
    padding: 1%;
    border: 2px solid #05125f;
    border-radius: 10px;
    cursor: pointer;
}

.texto-oculto{
    display: none;
}

.card:hover{
    background: #05125f;
    color: white;
    padding: 40px;
}

.card:hover img{
    display: none;
}

.card:hover .card-text{
    display: none;
}

.card:hover .texto-oculto{
    display: block;
}

footer{
    margin-top: 100px;
    height: 400px;
    text-align: center;
    border-top: 5px solid gray ;
    background-image: linear-gradient(180deg,#05125f,#000000);
}

.logo-rodape{
    padding: 100px;
}

.agencia{
    font-family: "Sedgwick Ave Display", cursive;
    color: white;
    font-size: 35px;
}

.whats{
    position: fixed;
    bottom: 5px;
    right: 5px;
}