@media screen and (max-width:1086px){
    .navbar{
        position: relative;
    }
    .menu{
        display: none;
    }
    .logo{
        margin: 0;
        text-align: center;
    }
    .header{
        padding-top: 50px;
        height: auto;
    }
    .headline{
        flex: 100%;
        margin: 5%;
        text-align: center;
    }
    .headline p{
        text-align: center;
    }
    .img-headline{
        flex: 100%;
        text-align: center;
        width: 100%;
    }
    .card{
        width: 100%;
    }
}